@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700&display=swap');


* {
    box-sizing: border-box  ;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

nav {
    text-transform: uppercase;
    letter-spacing: 0.0625em;
}

.background {
    background-image: url('../assets/img/hero_office.jpg');

}